<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="mainHeader" class="site-header">
  <a th:href="@{/}">
  <div class="logo">
    <img th:src="@{/photo/logo.png}" alt="Logo Modulink">
  </div></a>

  <button class="mobile-menu-toggle" aria-label="Menu">
    <i class="fa-solid fa-bars"></i>
  </button>

  <nav class="nav-links">
    <a th:href="@{/news}">News</a>
    <a th:href="@{/supporto}">Supporto</a>
    <a th:href="@{/pacchetti}">Pacchetti</a>
    <a th:href="@{/manuale}">Manuale d'Uso</a>
  </nav>

  <div class="header-buttons">
    <a th:href="@{/login}" class="btn btn-outline">Login</a>
    <a th:href="@{/register}" class="btn btn-solid">Registra Azienda</a>
  </div>
</header>

</body>
</html>