<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="mainHeader" class="site-header">
  <a th:href="@{/}">
  <div class="logo">
    <img th:src="@{/photo/logo.png}" alt="Logo Modulink">
  </div></a>
  <nav class="nav-links">
    <a href="#">News</a>
    <a href="#">Supporto</a>
    <a href="#">Pacchetti</a>
    <a href="#">Manuale d'Uso</a>
  </nav>

  <div>
    <a th:href="@{/login}" class="btn btn-outline">Login</a>
    <a th:href="@{/register}" class="btn btn-solid">Registra Azienda</a>
  </div>
</header>

</body>
</html>