name: Java Spring Boot CI with Port 80 Check

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Scarica il codice
      - uses: actions/checkout@v4

      # 2. Configura Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 3. Build e Test con iniezione dei Segreti
      - name: Build and Test with Maven
        env:
          DB_URL: ${{ secrets.DB_URL }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASS: ${{ secrets.DB_PASS }}
          MAIL: ${{ secrets.MAIL }}
          PASSWORD_MAIL: ${{ secrets.PASSWORD_MAIL }}
        run: mvn -B verify